.advantages {
    padding: 70px 0 85px 0;
    min-height: 500px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 75px;
    }
    &_input_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__img {
        max-width: 70px;
        max-height: 70px; 
        &_animation {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    &__subtitle {
        padding-top: 46px;
        font-size: 20px;
        font-weight: 700;
        color: black;
    }
    &__txt {
        padding-top: 25px;
        font-size: 14px;
        font-weight: 700;
        color: black;
        text-align: center;
        a {
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}